:root {
  font-family: 'Princess Sofia', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.princess-sofia-regular {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/achtergrond.gif");
  background-color: #aaaaaa;
  background-repeat: repeat;
  background-position: center;
  background-size: 10%;
}

body.dark {
  background-color: #363636;
  color: #ffffff;
}

body.min {
  background-size: 100%;
}

h1 {
  font-size: 4em;
  line-height: 0.2;
}

/* https://primereact.org/slider/ */
.slider .p-slider {
  padding-left: 6px;
  padding-right: 6px;
}

.slider .p-slider-range {
  background-color: #389ab3;
}

.slider .p-slider-handle {
  background-color: #ffffff;
  border-color: #389ab3;
}

button {
  font-family: 'Princess Sofia', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  width: 150px;
  height: 75px;
  margin-top: 10px;
  border: 0px solid;
  border-radius: 3px;
  background-color: gray;
}

button:hover {
  background-color: #9b9a9a;
}

.achtergrondknop {
  position: absolute;
  right: 20px;
}

.modeknop {
  position: absolute;
  right: 180px;
}

.aan {
  background-color: #389ab3;
}

.aan:hover {
  background-color: #42b3cf;
}