:root {
  font-family: 'Princess Sofia', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.princess-sofia-regular {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5em;
  line-height: 0.4;
}

/* https://primereact.org/slider/ */
.slider .p-slider {
  padding-left: 6px;
  padding-right: 6px;
}

.slider .p-slider-range {
  background-color: rgb(56, 154, 179);
}

.slider .p-slider-handle {
  background-color: white;
  border-color: rgb(56, 154, 179);
}

button {
  font-family: 'Princess Sofia', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3em;
  width: 150px;
  height: 75px;
  margin-top: 10px;
  border: 0px solid;
  border-radius: 3px;
}

.aan {
  background-color: rgb(56, 154, 179);
  box-shadow: rgb(157, 203, 214);
}